*.pyc
*.swp
tags
tmp/
__pycache__/
.DS_Store
.netrwhist
.VimballRecord
.vim_blog
cache/
certificates/
cookies.txt

VimballRecord
vim/plugged
vim/bundle
tmux/plugins

profile/
password*

configs/tmuxinator/*
!configs/tmuxinator/mgc.yml

fish/fish_variables
